html, body {
    height:100%;
    padding:0;
    margin:0;
}

.game-container {
    width:800px;
    height:600px;
    margin:0 auto;
    position: relative;
    top:50%;
    transform: translateY(-50%);
    position: relative;
    border: 1px solid #eee;
}

.game-container canvas {
    position: absolute;
    left:0;
    top:0;
}

#CellLayer {
    z-index: 3;
}
#MouseLayer {
    z-index: 2;
}
#StaticLayer {
    z-index: 1;
}